.login-page {
  min-height: 100vh;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 30vw;
  width: 30vw;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e1e2f;
}

.login-form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 15px;
  background-color: #00d8ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #00c0e0;
}

.login-form p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-form a {
  color: #00d8ff;
  text-decoration: none;
}

.dna{
    color: black;
    margin-top: 40px;
}
