.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  color: black;
}

.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 30px 20px;
  border-right: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a,
.sidebar button {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.sidebar a:hover,
.sidebar button:hover {
  color: #0070f3;
}

.active-link {
  color: #0070f3;
  font-weight: 700;
}

.dashboard-content {
  flex: 1;
  padding: 40px;
  background: #fff;
}
